@using Template_HTML.Models
@model EmployeeModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        @Html.DisplayName("Id") - @Html.Editor("Id")
        <br />

        <br />
        @Html.DisplayNameFor(e => e.Name) - @Html.EditorFor(e => e.Name)
        <br />
        <br />
        @Html.DisplayNameFor(e => e.DOB) - @Html.EditorFor(e => e.DOB)

        <br />
        <br />
        @Html.DisplayNameFor(e => e.Email) - @Html.EditorFor(e => e.Email)

        <br />
        <hr />

        @using (Html.BeginForm("myform"))
        {
            @Html.EditorForModel()

            <input type="submit" value="Submit" />
        }

    </div>
</body>
</html>

