@using Template_HTML.Models
@model EmployeeModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .display-label {
            background-color: darkblue;
            width: 100px;
            color: lightyellow;
            padding: 5px;
            border-radius: 5px;
            border-color: black;
        }

        .display-field {
            background-color: yellow;
            width: 200px;
            color: red;
            padding: 5px;
            border-radius: 5px;
            margin: 10px;
            margin-left: 20px;
        }
    </style>

</head>
<body>
    <div>
        @*@Html.DisplayName("Id")
        <br />

        @Html.DisplayName("Name")
        <br />
        <br />*@
        @Html.DisplayNameFor(e => e.Id)
        <br />
        @Html.DisplayNameFor(e => e.Name)
        <hr />
        @Html.DisplayText("Id")
        <br />
        @Html.DisplayText("Name")
        <br />
        <br />
        <hr />
        @Html.DisplayNameFor(e => e.Id) : @Html.DisplayTextFor(e => e.Id)
        <br />
        @Html.DisplayNameFor(e => e.Name) :  @Html.DisplayTextFor(e => e.Name)
        <br />
        <hr />
        @Html.Display("empdata")
        <br />
        @Html.DisplayFor(model => model)
        <br />
        <br />
        <hr />
        @Html.DisplayForModel()
        <br />
        <br />
        @using (Html.BeginForm("myform"))
        {
            @Html.EditorForModel()

            <input type="submit" value="Submit" />
        }

    </div>
</body>
</html>
