@using MVC_2.Models
@model DepartmentClass
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/DepartmentStyleSheet.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>@Html.HiddenFor(d => d.DepId)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(d => d.Name, new { @class = "Department" })</td>
                <td>@Html.TextBoxFor(d => d.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(d => d.CollegeName, new { @class = "Department" })</td>
                <td>@Html.TextBoxFor(d => d.CollegeName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(d => d.Programme, new { @class = "Department" })</td>
                <td>@Html.DropDownListFor(d => d.Programme, new SelectList(Enum.GetValues(typeof(Programme))))</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(d => d.StudentCount, new { @class = "Department" })</td>
                <td>@Html.TextBoxFor(d => d.StudentCount)</td>
            </tr>
        </table>
    </div>
</body>
</html>
